*{
 font-size: 20px;
 font-weight: bold;
}

body {
  background-color: rgb(68, 68, 68);
  margin: 0;
}
.card {
  margin: 20vh auto;
  width: 40%;
  min-width: 320px;
  aspect-ratio: 1/1.2;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  border: 10px white solid;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .panel {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0; 
}

.btn_comm{ 
 padding-block: 20px; 
 border-radius: 30px;
 position: inherit;
}

#save{ 
 border: unset;
 width: 30%;
 color: white;
 background-color: red;
 top: 5%;
 right: 5%;
}

.bottom_btn {
 color: black;
 background-color: #D6D6D1;
 opacity: 0.8;
}

#origin {
 padding-inline: 5px;
 bottom: 5%;
 left: 5%;
 width: 46%;
 text-align: center;
}

.other_button {
 position: inherit;
 bottom: 5%;
 right: 5%;
}

.other_button ion-icon{
 padding: 20px;
 border-radius: 50px;
}

#save:hover {
 -webkit-animation: mover 1s infinite  alternate;
 animation: mover 1s infinite traslate  ;
}

#origin:hover,  
.other_button ion-icon:hover {
 -webkit-animation: mover_up 1s infinite  alternate;
 animation: mover_up 1s infinite traslate  ;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

@-webkit-keyframes mover_up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover_up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}